accelerate
diffusers
torch
torchvision
tqdm
transformers
typing-extensions
bitsandbytes
scikit-learn
networkx
scipy
-e git+https://github.com/openai/CLIP.git@main#egg=clip
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
